@model IEnumerable<CustomIdentityApp.Models.User>
@{
    ViewBag.Title = "Hospital";
}
<!DOCTYPE html>
<html>
<head>
    <title>Hospital</title>
</head>
<body>
    <p><a href="~/Users"> All users </a></p>
    <p><a href="~/Roles"> Roles </a></p>
    <p><a href="~/Doctors"> Doctors </a></p>
</body>
</html>

